<form nz-form [formGroup]="addForm">
	<div>
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
			<nz-form-control [nzErrorTip]="codeError">
				<input nz-input nzSize="large" type="text" placeholder="Enter Class" formControlName="name">
				<ng-template #codeError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Already Exists !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid numbers and unnecessary spaces !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>
	<div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
		<button type="button" nz-button (click)="onCancel()">Cancel</button>
		<button nz-button nzType="primary" (click)="onOk()">OK</button>
	</div>
</form>