<form nz-form #myForm="ngForm" (ngSubmit)="saveUser()">
	<div id="form-container">

		<!-- Name -->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Name</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Name" name="name" [(ngModel)]="user.name" minlength="6" maxlength="30" pattern="[a-zA-Z][a-zA-Z ]+[a-zA-Z]$" required />
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('pattern')">Name should be Alphabets only</ng-container>
					<ng-container *ngIf="control.hasError('maxlength')">Name cannot exceed 30 characters</ng-container>
         <ng-container *ngIf="control.hasError('minlength')">Name should be atleast 6 character Long</ng-container>
					<ng-container *ngIf="control.hasError('required')">Name is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!-- Email -->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Email</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="emailError">
				<input nz-input nzSize="large" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" email required />
				<ng-template #emailError let-control>
					<ng-container *ngIf="control.hasError('email')">Email should be valid</ng-container>
					<ng-container *ngIf="control.hasError('required')">Email is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!-- Password -->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Password</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="passwordError">
				<nz-input-group [nzSuffix]="suffixTemplate">
				<input nz-input nzSize="large" [type]="passwordVisible ? 'text' : 'password'" placeholder="Password" name="password" [(ngModel)]="user.password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$" required />
			</nz-input-group>
				<ng-template #suffixTemplate>
					<i style="cursor: pointer;" nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
				</ng-template>
				<ng-template #passwordError let-control>
					<ng-container *ngIf="control.hasError('pattern')">Password should be Minimum eight characters, at least one uppercase letter, one lowercase letter and one number</ng-container>
					<ng-container *ngIf="control.hasError('required')">Password is Required</ng-container>
				</ng-template>
			</nz-form-control>

		</nz-form-item>

		<!-- Status -->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Status</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="addressError">
				<input nz-input nzSize="large" type="text" placeholder="Address" name="address" [(ngModel)]="user.address" minlength="10" maxlength="100" required />
				<ng-template #addressError let-control>
					<ng-container *ngIf="control.hasError('maxlength')">Address cannot exceed 100 characters</ng-container>
					<ng-container *ngIf="control.hasError('minlength')">Address atleast should be 10 character Long</ng-container>
					<ng-container *ngIf="control.hasError('required')">Address is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!-- Address -->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Address</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="contactNoError">
				<input nz-input nzSize="large" type="text" placeholder="Contact No." name="contactNo" [(ngModel)]="user.contactNo" minlength="11" maxlength="11" pattern="[0-9]+" required />
				<ng-template #contactNoError let-control>
					<ng-container *ngIf="control.hasError('pattern')">Contact No. should be in Numbers only</ng-container>
					<ng-container *ngIf="control.hasError('required')">Contact No. is Required</ng-container>
					<ng-container *ngIf="control.hasError('maxlength')">Contact No. cannot exceed 11 Numbers</ng-container>
					<ng-container *ngIf="control.hasError('minlength')">Contact No. should be 11 Numbers</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!-- Contact No. -->

		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="departmentError">
				<nz-select nzSize="large" nzPlaceHolder="Department" nzAllowClear name="department" [(ngModel)]="user.department" required>
					<!-- <nz-option [nzLabel]="user.department.name" [nzValue]="user.department" nzHide></nz-option> -->
					<nz-option *ngFor="let item of departments" [nzLabel]="item.name" [nzValue]="item"></nz-option>
				</nz-select>
				<ng-template #departmentError let-control>
					<ng-container *ngIf="control.hasError('required')">Department is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="userTypeError">
				<nz-select nzSize="large" nzPlaceHolder="User Type" nzAllowClear name="userType" [(ngModel)]="user.userType" required>
					<!-- <nz-option [nzLabel]="user.userType.userType" [nzValue]="user.userType" nzHide></nz-option> -->
					<nz-option *ngFor="let item of userTypes" [nzLabel]="item.userType" [nzValue]="item"></nz-option>
				</nz-select>
				<ng-template #userTypeError let-control>
					<ng-container *ngIf="control.hasError('required')">User Type is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="authSignError">
				<nz-select nzSize="large" nzPlaceHolder="Authorize Signatory" nzAllowClear name="authorizeSignatory" [(ngModel)]="user.authorizeSignatory" required>
					<!-- <nz-option [nzLabel]="user.authorizeSignatory.name" [nzValue]="user.authorizeSignatory" nzHide></nz-option> -->
					<nz-option *ngFor="let item of authSignatories" [nzLabel]="item.name" [nzValue]="item"></nz-option>
				</nz-select>
				<ng-template #authSignError let-control>
					<ng-container *ngIf="control.hasError('required')">Authorize Signatory is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-control nzHasFeedback [nzErrorTip]="roleError">
				<nz-select nzSize="large" nzPlaceHolder="Select Role" nzMode="multiple" name="roles" [(ngModel)]="user.roles" nzAllowClear required>
					<!-- <nz-option *ngFor="let item of user.roles" [nzLabel]="item.title" [nzValue]="item" nzHide></nz-option> -->
					<nz-option *ngFor="let item of roles" [nzLabel]="item.title" [nzValue]="item"></nz-option>
				</nz-select>
				<ng-template #roleError let-control>
					<ng-container *ngIf="control.hasError('required')">Role is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

	</div>
	<div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
		<button type="button" nz-button (click)="onCancel()">Cancel</button>
		<button nz-button nzType="primary" [disabled]="!myForm.valid">Save</button>
	</div>
</form>
