<button nz-button [nzType]="'primary'" nzSize="large" (click)="onAdd()" ><i nz-icon nzType="plus"></i>Add Minor Head</button>
<nz-table nzBordered #rowTableData [nzData]="minorHeads" [nzPageSize]="6" [nzLoading]="loading">
	<thead>
		<tr>
			<!-- <th nzWidth="100px">ID</th> -->
			<th>Name</th>
			<th>Code No.</th>
			<th>Major Head</th>
			<th nzWidth="120px">Actions</th>
		</tr>
	</thead>
	<tbody>

			<tr *ngFor = "let data of rowTableData.data">
				<td>{{data.name}}</td>
				<td>{{data.codeNo}}</td>
				<td>{{data.majorHead.name}}</td>
			<td>
				<div class="table-last-column" fxLayout="row" fxLayoutAlign="space-around center">
					<a nzTitle="Edit" (click)="onEdit(data)"><i class="table-icon" nz-icon nzType="edit"></i></a>
					<nz-divider nzType="vertical"></nz-divider>
					<a nz-popconfirm nzTitle="Sure to delete?" nz-tooltip (nzOnConfirm)="deleteMinorHead(data.id)"><i class="table-icon delete-icon" nz-icon nzType="delete"></i></a>
				</div>
			</td>
		</tr>
	</tbody>
</nz-table>
