<form nz-form>
	<div id="form-container">

		<!--GRN NO.-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">GRN NO.</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="GRN NO." formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Status-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Status</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Status" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Received Quantity-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Received Quantity</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Received Quantity" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Total Quantity-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Total Quantity</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Total Quantity" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Reason For Rejection-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Reason For Rejection</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Reason For Rejection" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Received By-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Received By</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Received By" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Posted By-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Posted By</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Posted By" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Inspected By-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Inspected By</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Inspected By" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Department Head-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Head</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Department Head" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>
	</div>
	<div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
		<button type="button" nz-button>Cancel</button>
		<button nz-button nzType="primary">OK</button>
	</div>
</form>
