<button nz-button [nzType]="'primary'" nzSize="large" (click)="onAdd()" ><i nz-icon nzType="plus"></i>Add Role</button>
<nz-table nzBordered #rowTableData [nzData]="roles" [nzPageSize]="6" [nzLoading]="loading">
	<thead>
		<tr>
			<!-- <th nzWidth="100px">ID</th> -->
			<th>Title</th>
			<th>Permission</th>
			<th nzWidth="120px">Actions</th>
		</tr>
	</thead>
	<tbody>

			<tr *ngFor = "let data of rowTableData.data">

				<td>{{data.title}}</td>
				<td >{{data.permis}} </td>

			<td>
				<div class="table-last-column" fxLayout="row" fxLayoutAlign="space-around center">
					<a nzTitle="Edit" (click)="onEdit(data)"><i class="table-icon" nz-icon nzType="edit"></i></a>
					<nz-divider nzType="vertical"></nz-divider>
					<a nz-popconfirm nzTitle="Sure to delete?"  nz-tooltip (nzOnConfirm)="deleteRole(data.id)"><i class="table-icon delete-icon" nz-icon nzType="delete"></i></a>
				</div>
			</td>
		</tr>
	</tbody>
</nz-table>
