<form nz-form #myForm="ngForm" (ngSubmit)="saveAuthSign()">
	<div id="form-container">

		<!--Authorize Signatory-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="name" name="name" [(ngModel)] = "authSign.name" minlength="1" maxlength="20" pattern="[a-zA-Z]+" required />
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('pattern')">Name should be Alphabets only</ng-container>
					<ng-container *ngIf="control.hasError('maxlength')">Name cannot exceed 20 characters</ng-container>
           			 <ng-container *ngIf="control.hasError('minlength')">Name should be atleast 1 character Long</ng-container>
					<ng-container *ngIf="control.hasError('required')">Name is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Level No.-->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
			<nz-form-control nzHasFeedback [nzErrorTip]="authLvlError">

				<nz-select nzSize="large" nzPlaceHolder="Level No." nzAllowClear name="authorizeLvl" [(ngModel)] = "authSign.authorizeLvl" required>
					<nz-option *ngFor="let item of authLvls" [nzLabel]="item.lvlNo" [nzValue]="item"></nz-option>
				</nz-select>
				<ng-template #authLvlError let-control>

					<ng-container *ngIf="control.hasError('required')">Level No is Required</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!--Ok and Cancel Buttons-->
	</div>
	<div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
		<button type="button" nz-button (click)="onCancel()">Cancel</button>
		<button nz-button nzType="primary" [disabled]="!myForm.valid">Save</button>
	</div>
</form>
