<div fxLayout fxLayoutGap="8px">
	<div class="search">
		<nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="searchButton">
			<input type="text" nz-input placeholder="Search with CNIC" [(ngModel)]="criteria" (ngModelChange)="criteriaChange($event)" minlength="13" maxlength="13" pattern="[0-9]{13}"/>
		</nz-input-group>
		<ng-template #searchButton>
			<button nz-button nzType="primary" nzSize="large" (click)="search()" nzSearch><i nz-icon nzType="search"></i></button>
		</ng-template>
	</div>
</div>
<nz-table nzBordered #revenueTable [nzData]="revenueData">
	<thead>
		<tr>
			<th nzWidth="50px">ID</th>
			<th>Student CNIC</th>
			<th>Revenue Head</th>
			<th>Student Type</th>
			<th nzWidth="100px">Amount</th>
			<th nzWidth="80px">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let data of revenueTable.data; let i = index">
			<td>{{ i + 1 }}</td>
			<td>{{ data.studentCnic | cnicFormatter }}</td>
			<td>{{ data.revenueHead }}</td>
			<td>{{ data.studentType }}</td>
			<td>Rs. {{ data.amount }}</td>
			<td><div><button nz-button nzType="primary" nzSize="large" (click)="pay()">Paid</button></div>
			</td>
		</tr>
	</tbody>
</nz-table>