<button *ngIf="addFlag" nz-button [nzType]="'primary'" nzSize="large" (click)="onAdd()"><i nz-icon nzType="plus"></i>Add GST</button>

<nz-table nzBordered #rowTableData [nzData]="gsts" [nzPageSize]="6" [nzLoading]="loading">
	<thead>
		<tr>
			<!-- <th nzWidth="100px">ID</th> -->
			<th>GST Percent</th>
			<th nzWidth="120px">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor = "let data of rowTableData.data">

			<td>{{data.percent}}</td>
			<td>
				<div class="table-last-column" fxLayout="row" fxLayoutAlign="space-around center">
					<a nzTitle="Edit" (click)="onEdit(data)"><i class="table-icon" nz-icon nzType="edit"></i></a>
					<nz-divider nzType="vertical"></nz-divider>
					<a nz-popconfirm nzTitle="Sure to delete?"  nz-tooltip (nzOnConfirm)="deleteGst(data.id)"><i class="table-icon delete-icon" nz-icon nzType="delete"></i></a>
				</div>
			</td>
		</tr>
	</tbody>
</nz-table>
