<button nz-button [nzType]="'primary'" nzSize="large" (click)="onAdd()" ><i nz-icon nzType="plus"></i>Add GRN</button>
<nz-table #partTable nzBordered >
	<thead>
		<tr>
			<!-- <th nzWidth="100px">ID</th> -->
			<th>GRN NO.</th>
			<th>Status</th>
			<th>Received Quantity</th>
			<th>Total Quantity</th>
			<th>Reason For Rejection</th>
			<th>Received By</th>
			<th>Posted By</th>
			<th>Inspected By</th>
			<th>Department Head</th>
			<th nzWidth="120px">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr >
			<tr>
				<!-- <td>{{i + 1}}</td> -->
				<!-- {{data.name}} -->
				<td>GRN NO.</td>
				<td>Status</td>
				<td>Received Quantity</td>
				<td>Total Quantity</td>
				<td>Reason For Rejection</td>
				<td>Received By</td>
				<td>Posted By</td>
				<td>Inspected By</td>
				<td>Department Head</td>
			<td>
				<div class="table-last-column" fxLayout="row" fxLayoutAlign="space-around center">
					<a nzTitle="Edit" (click)="onEdit()"><i class="table-icon" nz-icon nzType="edit"></i></a>
					<nz-divider nzType="vertical"></nz-divider>
					<a nz-popconfirm nzTitle="Sure to delete?" nz-tooltip><i class="table-icon delete-icon" nz-icon nzType="delete"></i></a>
				</div>
			</td>
		</tr>
	</tbody>
</nz-table>
