<form nz-form>
	<div id="form-container">

			<!-- Department Name -->
		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Department Name" formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

						<!-- Location -->

						<nz-form-item>
							<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
							<nz-form-control [nzErrorTip]="nameError">
								<input nz-input nzSize="large" type="text" placeholder="Location" formControlName="name">
								<ng-template #nameError let-control>
									<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
									<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
									<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
								</ng-template>
							</nz-form-control>
						</nz-form-item>

				<!-- Telephone -->

				<nz-form-item>
					<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
					<nz-form-control [nzErrorTip]="nameError">
						<input nz-input nzSize="large" type="text" placeholder="Telephone" formControlName="name">
						<ng-template #nameError let-control>
							<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
							<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
							<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>

		<!-- Extension No. -->

		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
			<nz-form-control [nzErrorTip]="nameError">
				<input nz-input nzSize="large" type="text" placeholder="Extension NO." formControlName="name">
				<ng-template #nameError let-control>
					<ng-container *ngIf="control.hasError('duplicate')">Fee with this Name is already present !</ng-container>
					<ng-container *ngIf="control.hasError('pattern')">Avoid Punctuation !</ng-container>
					<ng-container *ngIf="control.hasError('required')">Please Enter Name !</ng-container>
				</ng-template>
			</nz-form-control>
		</nz-form-item>

		<!-- University -->

		<nz-form-item>
			<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
			<nz-form-control nzErrorTip="Please Select Revenue Head">
				<nz-select formControlName="revenueHead" nzSize="large" nzPlaceHolder="University" nzAllowClear>
					<nz-option>Karachi University</nz-option>
					<nz-option>NED University</nz-option>
					<nz-option>Iqra University</nz-option>
				</nz-select>
			</nz-form-control>
		</nz-form-item>
	</div>
	<div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
		<button type="button" nz-button>Cancel</button>
		<button nz-button nzType="primary">OK</button>
	</div>
</form>
