<div fxLayout="column" fxFill fxLayoutAlign="center center">
				<div class="logo">
						<img src="./../assets/images/ku.png" alt="logo">
				</div>
				
	<div id="formBorder">
		<form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
			<nz-form-item>
				<nz-form-control nzErrorTip="Please input your username!">
					<nz-input-group [nzSize]="'large'" nzPrefixIcon="user">
						<input type="text" nz-input formControlName="userName" placeholder="Username" />
					</nz-input-group>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control nzErrorTip="Please input your Password!">
					<nz-input-group [nzSize]="'large'" nzPrefixIcon="lock">
						<input type="password" nz-input formControlName="password" placeholder="Password" />
					</nz-input-group>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control>
					<label nz-checkbox formControlName="remember">
						<span>Remember me</span>
					</label>
					<a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
					<button nz-button class="login-form-button" [nzType]="'primary'">Log in</button>

				</nz-form-control>
			</nz-form-item>
		</form>
	</div>
</div>