<form nz-form #myForm="ngForm" (ngSubmit)="updateRole()">
	<div id="form-container">

				<!-- Title -->

				<nz-form-item>
					<!-- <nz-form-label fxFlex="30">Title</nz-form-label> -->
					<nz-form-control nzHasFeedback [nzErrorTip]="titleError">
						<input nz-input nzSize="large" type="text" placeholder="Title" name="title" [(ngModel)]="rol.title" minlength="1" maxlength="30" pattern="[a-zA-Z]+" required />
						<ng-template #titleError let-control>
							<ng-container *ngIf="control.hasError('pattern')">Title should be Alphabets only</ng-container>
							<ng-container *ngIf="control.hasError('maxlength')">Title cannot exceed 30 characters</ng-container>
								<ng-container *ngIf="control.hasError('minlength')">Title atleast should be 1 character Long</ng-container>
							<ng-container *ngIf="control.hasError('required')">Title is Required</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>

				<nz-form-item>
					<!-- <nz-form-label fxFlex="30">Department Name</nz-form-label> -->
					<nz-form-control nzHasFeedback [nzErrorTip]="permissionError">
						<nz-select nzSize="large" nzPlaceHolder="Select Permission" nzMode="multiple" name="permissions" [(ngModel)]="rol.permissions" nzAllowClear required>
							<nz-option *ngFor="let item of rol.permissions" [nzLabel]="item.title" [nzValue]="item" nzHide></nz-option>
							<nz-option *ngFor="let item of permissions" [nzLabel]="item.title" [nzValue]="item"></nz-option>
						</nz-select>
						<ng-template #permissionError let-control>
							<ng-container *ngIf="control.hasError('required')">Permissions are Required</ng-container>
						</ng-template>
					</nz-form-control>
				</nz-form-item>

	</div>
	<div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
		<button type="button" nz-button (click)="onCancel()">Cancel</button>
		<button nz-button nzType="primary" [disabled]="!myForm.valid">Save</button>
	</div>
</form>
