<form nz-form [formGroup]="editForm">
	<div>
		<nz-form-item>
			<nz-form-label fxFlex="30" fxFlexAlign="start">Revenue Head Code</nz-form-label>
			<nz-form-control fxFlex="70" nzErrorTip="You can't change head code !">
				<input nz-input type="text" placeholder="Code" formControlName="code">
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label fxFlex="30">Revenue Head Name</nz-form-label>
			<nz-form-control fxFlex="70" nzErrorTip="Please enter Head Name !">
				<input nz-input type="text" placeholder="Name of Revenue Head" formControlName="name">
			</nz-form-control>
		</nz-form-item>
	</div>
	<div class="button-container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
		<button type="button" nz-button (click)="onCancel()">Cancel</button>
		<button nz-button nzType="primary" (click)="onOk()">OK</button>
	</div>
</form>